{% extends 'base.html.twig' %}
{# main loggin/registering page #}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 mt-2 mt-lg-5">
				<h3>Login</h3>
				
				<form action="{{ path('app_login') }}" method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>

					{% endif %}
					<div class="mb-3">
						<label class="form-label required d-block mt-2 pt-1" for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					</div>
					<div class="mb-3">
						<label for="inputPassword" class="form-label required d-block mt-2">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					</div>
					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button class="btn-action px-4">
						Sign in
					</button>

					<p class="mt-3 mb-0">
					 	<small>
					 		<span class="fw-bold">Admin:</span> admin@admin.com 
					 		<span class="fw-bold">pass:</span> 123456
							</small>
					 </p>
					 <p class="mt-0">
					 	<small>
					 		<span class="fw-bold">User:</span> user@user.com 
					 		<span class="fw-bold">pass:</span> 123456
						</small>
					 </p>
				</form>
			</div>
			<div class="col-12 col-lg-6 mt-5">
				<h2>Register</h2>
			{{ form(regForm) }}
			</div>
		</div>
	</div>

{% endblock %}
