<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Welcome Admin
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<main>
			<!-- NAVIGATOR OPEN/CLOSE BUTTON STARTS HERE -->
			<input type="checkbox" class="navigator-checkbox" id="navigator-check">
			<label for="navigator-check">
				<image src="{{ asset('assets/images/hamburger.svg') }}" id="open-sidebar" alt="open sidebar">
				<image src="{{ asset('assets/images/minus_square.svg') }}" id="close-sidebar" alt="close sidebar">
			</label>
			<!-- NAVIGATOR OPEN/CLOSE BUTTON ENDS HERE -->

			<!-- NAVIGATOR SIDEBAR STARTS HERE -->
			<div id="navigator-sidebar" class="navigator-sidebar">
				<div class="sidebar-wrapper">
					<h2 class="text-dark fw-bold mb-0">FNSTYLE</h2>
					<p>
						<small class="text-secondary">Admin section</small>
					</p>
				</div>
				<div class="row me-0">
					<div class="col">
						{% set currentRoute = app.request.attributes.get('_route') %}
						{{ include('components/admin-menu-item.html.twig', {currentRoute: currentRoute, route: 'catalog', icon: 'list-task' }) }}
						{{ include('components/admin-menu-item.html.twig', {currentRoute: currentRoute, route: 'customers', icon: 'arrow-down-up' }) }}
						{{ include('components/admin-menu-item.html.twig', {currentRoute: currentRoute, route: 'settings', icon: 'box-arrow-in-right' }) }}

					</div>
					<div class="divider ms-1">
						<hr/>
					</div>

					<div class="col">
						<a href="{{ path('home') }}" class="mt-3 ms-3 mb-1 d-flex align-items-center">
							<i class="fs-4 navigator-icon bi bi-arrow-down-up"></i>
							<span class="fw-bold ms-3">Go to front</span>
						</a>
						<a href="#" class="ms-3 mb-1 d-flex align-items-center">
							<i class="fs-4 navigator-icon bi bi-box-arrow-in-right"></i>
							<span class="fw-bold ms-3">Log out</span>

						</a>
					</div>
				</div>
			</div>
			<!-- NAVIGATOR SIDEBAR ENDS HERE -->
			
			<!-- CONTENT STARTS HERE -->
			<div class="navigator-text--container">
				<div class="navigator-sidebar--dummy"></div>
				<div class="navigator-text--content"> {% block body %}{% endblock %}
					</div>
				</div>
				<!-- CONTENT STARTS HERE -->

			</main>
		</body>
	</html>
