{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
{% endblock %}
{% block body %}
	<section id="container" class="container">

		{% include 'admin/components/admin-header.html.twig' with {'heading' : 'Edit product'} %}

		<div class="row mt-2">
			<div class="col-12 col-md-6">
				{{ form_start(productForm) }}
				{{ form_row(productForm.brand) }}
				{{ form_row(productForm.model) }}
				{{ form_row(productForm.price) }}
				{{ form_row(productForm.category) }}

				{{ form_row(productForm.images) }}

				<p>Existing images:</p>
				{% for image in imagesForPreview %}
					<img src="{{ image }}" class="img-thumbnail" />
				{% endfor %}

				<p class="mt-4">
				{{ form_row(productForm.submit) }}
				</p>
				{{ form_end(productForm) }}
			<!-- Change /upload-target to your upload address -->
				<!-- Or With An Input Field Fallback -->
			</section>

		{% endblock %}
		{% block javascripts %}
			{{ parent() }}
			=

		{% endblock %}
