{% extends 'shop/base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
        <div class="col-12 col-lg-6 mt-2 mt-lg-5">
            <h3>Login</h3>
            <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
       
    {% endif %}
    <div class="mb-3">
    <label class="form-label required d-block mt-2 pt-1" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
     <div class="mb-3">
    <label for="inputPassword" class="form-label required d-block mt-2">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
</div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn-action px-4" type="submit">
        Sign in
    </button>
</form>
        </div>
        <div class="col-12 col-lg-6 mt-5">
         <h2>Register</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn-action px-4">Register</button>
    {{ form_end(registrationForm) }}
        </div>
        </div>
    </div>
   


{% endblock %}