{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!
{% endblock %}

{% block body %}

	<section id="my-slider" class="slider">
		<div class="slide">
			<div class="slide-text">
				<h4 class="slide-text__subhead animate__animated animate__slideInUp">New season</h4>
				<h2 class="slide-text__head animate__animated animate__slideInUp">New arrivals</h2>
				<a href="index.php" class="btn btn-slider mt-2">See latest</a>
			</div>
			<div class="slide-overlay">
				<img class="slide__image" src="{{ asset('assets/images/slider/tamara-bellis-WdPfMcpeQas-unsplash 1920x728.jpg') }}" alt=" ">
			</div>
		</div>
		<div class="slide">
			<div class="slide-text">
				<h4 class="slide-text__subhead animate__animated">Enjoy</h4>
				<h2 class="slide-text__head animate__animated">More for you</h2>
				<a href="index.php" class="btn btn-slider">See categories</a>
			</div>
			<div class="slide-overlay">
				<img class="slide__image" src="{{ asset('assets/images/slider/ashim-d-silva-ZmgJiztRHXE-unsplash.jpg') }}" alt=" ">
			</div>
		</div>
	</section>

    <section class="container mt-4">
    <div class="row mt-4">
        <div class="col d-flex justify-content-center">
        <div class="image-with-button mt-4">
        <img src="{{ asset('assets/images/img-with-btn/kids_group.png') }}">
        <a class="image-with-button__link btn-kids" href="#">Kids</a>
        </div>
        </div>

        <div class="col d-flex justify-content-center">
         <div class="image-with-button mt-4">
        <img src="{{ asset('assets/images/img-with-btn/330x500 khaled-ghareeb-n84s3jgzhKk-unsplash1.png') }}">
            <a class="image-with-button__link btn-womens" href="#">Womens</a>
        </div>
</div>
        <div class="col d-flex justify-content-center">
         <div class="image-with-button mt-4">
        <img src="{{ asset('assets/images/img-with-btn/330x500 lethicia-matos-CSh-hNHc3Y8-unsplash-1.png') }}">
        <a class="image-with-button__link btn-mens" href="#">Mens</a>
        </div>
        </div>
    </div>
    </section>
{% endblock %}
