{% extends 'base.html.twig' %}

{% block body %}

	<section class="container">
		<div class="row ms-3 ms-sm-2 ms-md-0">
			<div class="col ps-0">
				<h2 class="fw-bold mt-2">Your bag</h2>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="d-none d-sm-table-cell">#</th>
							<th scope="col">Brand</th>
							<th scope="col">Name</th>
							<th scope="col" class="d-none d-sm-table-cell">Price</th>
							<th scope="col" class="d-none d-sm-table-cell">Qty</th>
						
							<th scope="col" class="d-none d-sm-table-cell">Actions</th>
							<th scope="col" class="d-sm-none">Act</th>
						</tr>
					</thead>

					<tbody>
					    {% import 'macros/delete-from-bag-modal.html.twig' as del_macro %}
							{% set count = 1 %}
						{% for product in products %}
						<tr class="product-row">
						<th class="d-none d-sm-table-cell" scope="row">{{ count }}</th>
									{% set count = count + 1 %}
							<td>{{ product.brand }}</td>
							<td>{{ product.name }}</td>
							<td class="d-none d-sm-table-cell">{{ 145 }}</td>
							<td class="d-none d-sm-table-cell">
								{{ 120 }}
							</td>
						
							<td >
									
								<button class="btn-trash" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ product.id }}">
								<i class="bi bi-trash"></i>
								</button>
								 {{ del_macro.delete_from_bag_modal(product.id,
		                        path('shopping_bag') ) }}

							</td>
						</tr>
						{% endfor %}
					</tbody>
	</table>
	<div class="row d-flex flex-row justify-content-between">
	<div class="col-2">
	<button id="clear-list" class="btn btn-action">Clear list</button>
	</div>
	<div class="col-2">
	<button id="" class="btn btn-action">Go to payment</button>
	</div>
	</div>
	
	</div>
	</div>
</section>
{% endblock %}
{% block javascripts %}

{{ parent() }}
<script>

document.addEventListener('DOMContentLoaded', function() {

let products = [];
products = JSON.parse('{{ products|json_encode|raw }}');
const clrListBtn = document.getElementById('clear-list');
const clearCartModalAndStorage = () => {
	localStorage.setItem('cartItems', []);
		document.getElementById('cart-anchor').innerText = '(0)';
}
clrListBtn.addEventListener('click', (ev) => {
	ev.preventDefault();
	clearCartModalAndStorage();
	const url = 'clear-cart';
	location.href = url;
	
})

	if (products.length === 0 ) {
		
		let productRows = document.querySelectorAll('.product-row');
		console.log(productRows);
		productRows.forEach( product => {
			product.parentElement.removeChild(product);
		})
		clearCartModalAndStorage();
	
	}
})
</script>
{% endblock %}

